body {
  background-color: black;
  margin: 0;
  padding: 130px 0 0 0; /* space for navbar */
  scroll-behavior: smooth;
}

.navbar-container {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 120px;
  position: fixed; /* keeps it visible */
  top: 0; /* stick to the top */
  left: 0; /* align left edge */
  width: 100%; /* full width */
  z-index: 1000; /* ensures it stays above other content */
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 20px;
}
.company-name {
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-top: 45px;
}
.nav-btns {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  margin-top: 32px;
  text-decoration: none;
  word-spacing: 10px;
}
.home {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-left: 30px;
  text-decoration: none;
}
.features {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-left: 30px;
  text-decoration: none;
}
.pricing {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-left: 30px;
  text-decoration: none;
}
.invoice-generator {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-left: 30px;
  text-decoration: none;
}
.user-auth {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-left: 310px;
}
.user-icon {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-top: 15px;
}
.sign-in {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-top: 24px;
  margin-left: 5px;
}
